/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;

}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    background-color:silver;
}
    div{
        display:block;
        margin:15px;
        background-color:white;
    }
    /*Define the classes below*/
    div img{
        display:inline-block;
        height:200px;
        width:200px;
        margin:20px;
    }
    .show{
        width:200px;
        height:75px;
        background-color:skyblue;
        border-radius:15px;
        border:black solid 2px;
        display:inline-block;
        margin-left:20px;
    }
    